#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.admin-layout {
  display: flex;
}

.sidebar {
  width: 250px;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}